.page-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url(../../Assets/Home/home-background-02.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container-category {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-category {
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  font-size: 3rem;
}

.subtitle-category {
  margin-bottom: 6rem;
}

.row-category {
  margin: 0 0px auto 0px;
  padding: 0 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-person-category {
  transition: all ease 0.3s;
  height: 300px;
}

.img-container-category {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-container-category>img {
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.card-person-category:hover {
  transform: scale(1.05);
}

.card-person-category:hover img {
  filter: none;
}

.img-container-category .img_2{
  width: 130px;
  position: absolute;
  margin-left:-152px;
  margin-top:85px;
  filter: brightness(1.3);
}
.img-container-category #lightBlue{
  filter: brightness(1.5) hue-rotate(225deg);
}
.img-container-category #red{
  filter: brightness(1.3) hue-rotate(40deg);
}
.img-container-category #orange{
  filter: brightness(1.5) hue-rotate(90deg);
}
.img-container-category #green{
  filter: brightness(1.5) hue-rotate(160deg);
}
.img-container-category #darkBlue{
  filter: brightness(1.5) hue-rotate(290deg);
}

.flip-container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 90%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: 0 auto;
}

.back {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


#switch01:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch01 {
  display: none;
}

#switch02:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch02 {
  display: none;
}

#switch03:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch03 {
  display: none;
}

#switch04:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch04 {
  display: none;
}

#switch05:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch05 {
  display: none;
}

#switch06:hover~.flip-container .flipper {
  transform: rotateY(180deg);
}

#switch06 {
  display: none;
}

@media (max-width: 800px) {

  .title-category {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 20px;
  }
}


@media (max-width: 320px) {
  .title-category {
    font-size: 1.5rem;
  }

  }