.page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../../Assets/Home/home-background-01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.body-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2.5rem;
}

.logoHome {
  width: 33vw;
  margin-top: -9px;
}

.imgHome{
  width: 35vw;
  height: 38vh;
  border: 4px solid #6ec5cc;
  filter: drop-shadow(0 0 5px #00998a);
  border-radius: 10px;
}

.title-home {
  margin: 458px 0 0 112px;
  font-size: 59px;
  font-weight: 400;
  line-height: 75px;
  text-align: right;
  width: 747px;
  height: 150px;
  color: #ffffff;
  text-shadow: 3px 3px 7px rgba(187, 187, 187, 0.76);
}

.body-2{
  background-image: url(../../Assets/Home/home-background-02.png);
}

