.all_games{
    width: 100vw;
    color: #fff;
    min-height: 100vh;
    border-radius: 0px;
    font-family: 'Zen Kurenaido', sans-serif;
    scroll-behavior: smooth;
    text-align: center;
    background-image: url(../../Assets/Home/home-background-01.png);
    background-repeat: repeat;
    background-size: contain;
}

.all_games .header{
    height:130px;
}

.all_games .footer{
    height:100px;
}

.all_games h1{
    margin: 10px 30px 20px 30px;
    font-size:3rem;
    font-weight: lighter;
}

.all_games .product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 20px;
}

.all_games .product_card{
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin: 15px 15px;
    padding: 10px;
    background-color:rgba(63, 63, 63, 0.747);
    border: 1px solid rgb(110, 110, 110);
    color: #fff;
}

.all_games .product_card::marker{
    color: rgba(163, 87, 87, 0);
}

.all_games .product_card:hover .product_category{
    filter: brightness(2);
}

.all_games .product_container #category1:hover{
    border: 3px solid #cf4492;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #e71bbe);
}
.all_games .product_container #category1:hover .product_category{
    color: #cf4492;
}
.all_games .product_container #category2:hover{
    border: 3px solid #cf1111;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #cf1111);
}
.all_games .product_container #category2:hover .product_category{
    color: #cf1111;
}
.all_games .product_container #category3:hover{
    border: 3px solid #ce711b;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #ce711b);
}
.all_games .product_container #category3:hover .product_category{
    color: #ce711b;
}
.all_games .product_container #category4:hover{
    border: 3px solid #1e1bce;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #1e1bce);
}
.all_games .product_container #category4:hover .product_category{
    color: #1e1bce;
}
.all_games .product_container #category5:hover{
    border: 3px solid #63ce1b;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #63ce1b);
}
.all_games .product_container #category5:hover .product_category{
    color: #63ce1b;
}
.all_games .product_container #category6:hover{
    border: 3px solid #14da98;
    filter: brightness(1.1) drop-shadow(1px 1px 0.5rem #14da98);
}
.all_games .product_container #category6:hover .product_category{
    color: #14da98;
}

.all_games .product_card:hover{
    background-color:rgba(27, 27, 27, 0.699);
    filter: brightness(10);
    transform: scale(1.1);
}

.all_games .product_card h2{
    height: 40px;
    margin: 10px 0;
}


.all_games .product_image{
    height:220px;
    width: 220px;
    border-radius: 5px;
}

.all_games .product_infos{
    display: flex;
    margin: 15px 0;
}

.all_games .product_info{
    width:33%;
    margin:0;
}

.all_games .product_info img{
    height:40px;
    width: 40px;
    margin: 0;
}

.all_games .product_card .product_category{
    font-size: 1.2rem;
    margin-bottom: 10px;
}


a, a:link, a:visited, a:active, a:hover {
    text-decoration: none!important;
}