header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: transparent;
  width: 100%;
  font-size: 1.5rem;
}

header > * {
  padding: 0.6rem 1rem;
}

.logo-header > img {
  width: 100px;
  margin: 10px 0 0 5px;
}

.menu-header {
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.menu-header > nav {
  margin: auto;
}

.menu-header > nav > ul {
  padding-inline-start: 0;
  display: flex;
}

.menu-header > nav > ul > span {
  color: white;
}

.menu-header > nav > ul > a {
  text-decoration: none;
  color: white;
}

.menu-header > nav > ul > a > li {
  margin: 0 1rem;
  list-style: none;
}

.icons-header {
  margin: auto 0;
  align-items: center;
}

.icons-header  svg {
  margin: 0 0.8rem;
  align-items: center;
}

.icon_cart {
  margin-right: 1.2rem;
}
