header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    height: 15vh;
    position: absolute;
    margin: auto 4rem 0 0;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8rem;
}

header img{
    margin: 49px 0 0 49px;
}


