.top10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url(../../Assets/Home/home-background-02.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.transition2 {
  height: 10vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

.container-top10 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-top10,
.subtitle-top10 {
  font-weight: lighter;
  font-size: 3rem;
}

.title-top10 {
  margin-top: 3rem;
}

.subtitle-top10 {
  margin-bottom: 5rem;
}

.row-top10 {
  margin: 0 0 auto 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-person-top10 {
  margin: 5px 10px;
  transition: all ease 0.3s;
  height:254px;
  width: 175px;
}

.img-container-top10 {
  margin: 0px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-container-top10>img {
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.card-person-top10:hover {
  transform: scale(1.1);
}

.card-person-top10:hover img {
  filter: none;
}

.transition3 {
  height: 10vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}



@media (max-width: 800px) {
  .title-top10,
  .subtitle-top10 {
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 20px;
  }
  .title-top10 {
    margin-top: 3rem;
  }
  .subtitle-top10 {
    margin-bottom: 3rem;
  }
}


@media (max-width: 670px) {
  .title-top10 {
    margin-top: 3rem;
  }
  .subtitle-top10 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {

  
}