.top10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../Assets/Home/home-background-02.png);
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .container-top10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  .title-top10, .subtitle-top10 {
    font-weight: lighter;
    font-size: 3rem;
  }

  .subtitle-top10{
    margin-bottom: 6rem;
  }
  
  .row-top10{
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .card-person-top10 {
    margin: 5px 5px;
    padding: 5px 5px;
    transition: all ease 0.3s;
  }
  
  .img-container-top10 {
    height: 25vh;
    margin: 0px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .img-container-top10 > img {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .card-person-top10:hover {
    transform: scale(1.1);
  }
  
  .card-person-top10:hover img {
    filter: none;
  }
  
  
  @media (max-width: 575px) {
    .row-top10 > div {
      padding: 0;
      padding-bottom: 8px;
    }
    div > img {
      width: 90vw;
    }
    .img-container-top10:hover {
      width: 100vw;
    }
    
  }