.top10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url(../../Assets/Home/home-background-02.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.transition2 {
  height: 10vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

.container-top10 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-top10,
.subtitle-top10 {
  font-weight: lighter;
  font-size: 3rem;
}

.title-top10 {
  margin-top: 1rem;
}

.subtitle-top10 {
  margin-bottom: 1rem;
}

.react-multi-carousel-list{
  width: 90vw;
  height: 60vh;
  padding: 0px 20px;
}

.react-multiple-carousel__arrow{
  background-color: #cf449398 !important;
  
}
.react-multiple-carousel__arrow::before{
  color: #ffffff !important;
  font-weight:bolder;
}

.react-multiple-carousel__arrow:hover{
  background-color: #cf4492 !important;
  filter: brightness(1.2) drop-shadow(1px 1px 10px #e71bbe);
}
.react-multiple-carousel__arrow:hover .react-multiple-carousel__arrow::before{
  color: #ffffff;
}

.top10_card{
  height: 350px;
  width: 220px;
  background-color: rgba(10, 10, 10, 0.322);
  border-radius: 5px;
  text-align: center;
  border: 3px solid #fafafa;
  filter: brightness(1.1) drop-shadow(1px 1px 0.2rem #b4b3b4);
}

.top10_card:hover{
  transform: scale(1.1);
}

.top10_card h2{
  margin:8px 0;
}

.top10_card img{
  width: 100%;
  height: 220px;
}

.top10 .product_infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top10 .product_info{
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.top10 .product_info img{
  height:40px;
  width: 40px;
  margin: 0;
}

.transition3 {
  height: 10vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

a, a:link, a:visited, a:active, a:hover {
  color:#fff;
  text-decoration: none!important;
}


@media (max-width: 800px) {
  .title-top10,
  .subtitle-top10 {
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 20px;
  }
}

@media (max-width: 700px) {
  .title-top10 {
    margin-top: 0rem;
  }
  .subtitle-top10 {
    margin-bottom: 0rem;
  }
}