footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 10px;
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
}

@media(max-width: 321px){
    footer{
        font-size: 0.3rem;
    }
}